<!DOCTYPE html>
<html>
  <head>
      <center>
          <h1><b>Foodster</b></h1> 
          <h2><em>Featured Users</em></h2> 
</head>
    <body>
        <% @users.each do |user| %>
    <h3>
        <li><%= link_to "#{user.name}", user %></li></h3>
    <% end %>
    

</body>

</center>
</html>
