<!DOCTYPE html>
<html>
<head>
    <center>
        <h1><b>Foodster</b></h1>
        <h3> Here to satisfy your hunger needs. </h3>
        <br>
        <h2><em>Let's Add a New Restaurant</em></h2>
</head>

<%= render "form" %>