<!DOCTYPE html>
<html>

<head>
    <center>
        <h1>Foodster</h1>
        <h3> Here to satisfy your hunger needs. </h3>
</head>
<h2>
    <p><u><%= "#{@restaurant.name}"%></u></p>
</h2>
<h4>Cuisine: <%= "#{@restaurant.cuisine}"%></h4>
<h3>Location: <%= "#{@restaurant.location}"%></h4>

<h3><%="#{@restaurant.name}"%>'s Reviews</h3>
<li>
    
</li>


</center>
</html>